{% extends 'base.html' %}
{% block title %} Other Software {% endblock %}
{% block content %}
<!-- SIDE BAR SECTION -->
    <!-- MAIN SECTION -->
    <main class="main">
      <div class="row">
        <div class="col-md-10">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active">Software Assets</span></li>
              <li class="breadcrumb-item"><a href="{% url 'itam:other-list' %}"><span>Other Software</span></a></li>
            </ol>
          </nav>
        </div>
        <div class="col-md-2 mt-2 text-center">
          <div class="d-inline"><a class="btn btn-secondary" href="{% url 'itam:other-archive' %}">See Archive</a></div>
        </div>
      </div>

      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      
     <div class="card mb-3">
        <div class="card-header d-flex">
          <span class="mt-1">
            <i class="fas fa-list mr-2"></i> 
            All Other Software Assets
          </span>
          <div class="d-inline ml-auto"><a class="btn btn-sm btn-dark" href="{% url 'itam:add-other' %}"> Create New</a></div>
        </div>  

        <div class="card-body">
          {% include 'software-filter.html' %}

          {% include 'pagination.html' %}
         
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
              <table class="table table-striped table-bordered text-center tablesorter" id="myTable" width="100%" cellspacing="0">
                <caption class='text-right'> 
                  <span class="mr-2 font-weight-bold">EDIT</span><button class="mr-4 btn btn-sm btn-warning" disabled>
                    <i class="fa fa-pencil-alt" style="color: white"></i>
                  </button>
                  {% if request.user.is_admin %}
                  <span class="mr-2 font-weight-bold">ARCHIVE</span><button class="mr-4 btn btn-sm btn-secondary" disabled>
                    <i class="fas fas fa-archive"></i>
                  </button>
                  <span class="mr-2 font-weight-bold">DELETE</span><button class="mr-4 btn btn-sm btn-danger" disabled>
                    <i class="fa fa-trash-alt"></i>
                  </button>
                  {% endif %}
                </caption>
              <thead class="">
                <tr>
                  <th>Name</th>
                  <th>Deployment Status</th>
                  <th>Computer</th>
                  <th>Expiration Date</th>
                  <th>Expiration Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody id="myTbody">
                {% for other in other_objects %}
                <tr>
                  <td><a href="{% url 'itam:other-details' other.id%}">{{ other.software_name }}</a></td>
                  <td><i class="fas fa-circle {% if other.deployment_status == 'Not Installed' %} text-warning {% else %} text-primary {% endif %}"></i> {{ other.deployment_status }}</td>
                  {% if other.computer %}
                  <td><a href="{% url 'itam:computer-details' other.computer.id %}">{{ other.computer.computer_id }}</a></td>
                  {% else %}
                  <td></td>
                  {% endif %}
                  <td>{{ other.expiration_date }}</td>
                  {% if other.expiration_status %}
                  <td><i class="fas fa-circle text-danger"></i></td> 
                  {% else %}
                  <td><i class="fas fa-circle text-success"></i></td> 
                  {% endif %}
                  <td class="text-center">
                    <a href="{% url 'itam:edit-other' other.id %}" class="btn btn-warning btn-sm" title="Edit">
                    <i class="fa fa-pencil-alt" style="color: white"></i></a>

                    {% if request.user.is_admin %}
                    <form action="{% url 'itam:archive-other' other.id %}" method="POST" style="display: inline">
                      {% csrf_token %}
                      <input type="hidden" name="other.id" value="{{ other.id }}"> 
                      <button type="submit" class="btn btn-sm btn-secondary" title="Archive"
                      onclick="return confirm('Are you sure you want to archive this Software?')">
                        <i class="fas fa-archive"></i>
                      </button>
                    </form>
                    {% endif %}

                    {% if request.user.is_admin %}
                    <form action="{% url 'itam:delete-other' other.id %}" method="POST" style="display: inline">
                      {% csrf_token %}
                      <input type="hidden" name="other.id" value="{{ other.id }}"> 
                      <button type="submit" class="btn btn-sm btn-danger" title="Delete"
                      onclick="return confirm('Are you sure you want to delete this Software?')">
                        <i class="fa fa-trash-alt"></i>
                      </button>
                    </form>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
              </div>
            </div>
          </div>
          {% include 'pagination.html' %}
        </div>

        <div class="card-footer">
         
        </div>

      </div>
    </main>
{% endblock %}
