{% extends 'base.html' %}
{% block title %} Tracking Expiring Assets | Other Software   {% endblock %}
{% block content %}
<!-- SIDE BAR SECTION -->
    <!-- MAIN SECTION -->
    <main class="main">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Tracking</span></li>
              <li class="breadcrumb-item active">Expiring Assets</li>
              <li class="breadcrumb-item"><a href="{% url 'itam:other-track-e' %}">Other Software</a></li>
            </ol>
          </nav>
        </div>

      </div>
     <div class="card">
        <div class="card-header">
          {% include 'tracking-navbar-e.html' %} 
        </div>
        <div class="card-body">
          {% if expiring_assets %}
          <div class="row mb-3">

            <div class="col-md-6 d-inline">
              <div class="text-left">
                Search: 
                <label> 
                 <input id="searchInput" type="text" class="form-control form-control-sm">
                </label>
              </div> 
            </div>

            <div class="col-md-5 d-flex">
              <form class="form-inline ml-auto" method="GET" action="{% url 'itam:generate-e-other-report' %}">
                <input type="hidden">
                <button class="btn btn-info ml-2" type="submit">
                  Generate Report <i class="ml-2 far fa-file-pdf"></i>
                </button>  
              </form>
            </div>
            
            <div class="col-md-1">
              
            </div>

          </div>
          {% include 'pagination.html' %}

               <div class="table-responsive">
                <table class="table table-striped w-100 text-center table-bordered tablesorter" id="myTable" cellspacing="0" name="myTable">
                  <thead class="">
                    <tr>
                      <th>Software Name</th>
                      <th>Location</th>
                      <th>Termination Date</th>
                    </tr>
                  </thead>
                  <tbody id="myTbody">
                  {% for c in other_objects %}
                  <tr>
                    <td><a href="{% url 'itam:other-details' c.id %}">{{ c.software_name }}</a></td>
                    <td>{{ c.computer.location }}</td>
                    <td>{{ c.expiration_date }}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>

          {% include 'pagination.html' %}
        </div>
        {% else %}
        <h2 class="text-center">No expiring Other Softwares found.</h2>
        {% endif %}
      </div>
    </main>
{% endblock %}
