{% extends 'base.html' %}
{% block title %} Other Software {% endblock %}
{% block content %}
<!-- SIDE BAR SECTION -->
    <!-- MAIN SECTION -->
    <main class="main">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active">Software Assets</span></li>
              <li class="breadcrumb-item"><a href="{% url 'itam:other-list' %}"><span>Other Software</span></a></li>
              <li class="breadcrumb-item"><a href="{% url 'itam:other-details' other.id%}"><span>{{ object.software_name }}</span></a></li>
            </ol>
          </nav>
        </div>
      </div>

      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      
     <div class="card mb-3">
        <div class="card-header d-flex">
          <span class="">
            <i class="fas fa-info mr-2 mt-2"></i>
            {{ object.model }} Details
          </span>
          <div class="dropdown ml-auto">
            <button class="btn btn-sm btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Actions
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'itam:edit-other' object.id %}">
                Edit
              </a>
              {% if request.user.is_admin %}
              <a class="dropdown-item">           
                <form action="{% url 'itam:delete-other' object.id %}" method="POST" style="display: inline">
                  {% csrf_token %}
                  <input type="hidden" name="other.id" value="{{ object.id }}"> 
                  <button type="submit" class="pl-0 dropdown-item" title="Delete" style="cursor: pointer;"
                  onclick="return confirm('Are you sure you want to delete this Software?')">
                    Delete
                  </button>
                </form> 
              </a>
              {% endif %}
              {% if request.user.is_admin and not object.is_archived %}
              <a class="dropdown-item">
                <form action="{% url 'itam:archive-other' object.id %}" method="POST" style="display: inline">
                  {% csrf_token %}
                  <input type="hidden" name="other.id" value="{{ object.id }}"> 
                  <button type="submit" class="pl-0 dropdown-item" title="Archive" style="cursor: pointer;"
                  onclick="return confirm('Are you sure you want to archive this Software?')">
                    Archive
                  </button>
                </form>
              </a>
              {% elif request.user.is_admin and object.is_archived %}
              <a class="dropdown-item">
                <form action="{% url 'itam:unarchive-other' object.id %}" method="POST" style="display: inline">
                  {% csrf_token %}
                  <input type="hidden" name="other.id" value="{{ object.id }}"> 
                  <button type="submit" class="pl-0 dropdown-item" title="Unarchive" style="cursor: pointer;"
                  onclick="return confirm('Are you sure you want to unarchive this Software?')">
                    Unarchive
                  </button>
                </form>
              </a>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-hover" width="100%">
                  <tbody>
                    <tr>
                      <td>Name</td>
                      <td>
                        {{ object.software_name }}
                        {% if object.is_archived %}
                        <span class="badge badge-pill badge-dark">ARCHIVED <i class="fas fa-times text-danger"></i></span>
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td>Product ID</td>
                      <td>
                        {{ object.product_id }}
                      </td>
                    </tr>
                    <tr>
                      <td>Serial Key</td>
                      <td>
                        {{ object.serial_key }}
                      </td>
                    </tr>
                    <tr>
                      <td>Expiration Date</td>
                      <td>
                        {{ object.expiration_date }}
                      </td>
                    </tr>
                    <tr>
                      <td>Expiration Status</td>
                      {% if object.expiration_status %}
                      <td>
                        <i class="fas fa-circle text-danger"></i>
                      </td>
                      {% else %}
                      <td>
                        <i class="fas fa-circle text-success"></i>
                      </td>
                      {% endif %}
                    </tr>
                    <tr>
                      <td>Deployment Status</td>
                      <td>
                        <i class="fas fa-circle {% if object.deployment_status == 'Not Installed' %} text-warning {% else %} text-primary {% endif %}"></i>
                        {{ object.deployment_status }}
                      </td>
                    </tr>
                    {% if object.computer %}
                    <tr>
                      <td>Computer</td>
                      <td>
                        <a href="{% url 'itam:computer-details' object.computer.id %}">{{ object.computer.computer_id }}</a>
                      </td>
                    </tr>
                    <tr>
                      <td>Computer Location</td>
                      <td>
                        {{ object.computer.location }}
                      </td>
                    </tr>
                    {% endif %}
                  </tbody>
                </table>  
              </div>
            </div>   
          </div>
        </div>
        <div class="card-footer">
          <div class="row mt-3">
           
          </div>
        </div>
      </div>
    </main>
{% endblock %}
