{% extends 'base.html' %}
{% block title %} Edit User {% endblock %}
{% block content %}
<main class="main">
  <div class="row">
    <div class="col-lg-11">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
         <li class="breadcrumb-item active"><span>Change your Password</span></li>
      </ol>
    </nav>
    </div>
    <div class="col-lg-1 text-center">
      <a href="{% url 'itam:index' %}"><button class="btn btn-info btn-md mt-2">Back</button></a>
    </div>
  </div>

    <div style="width:800px;" class="container">
      <div class="card mt-3 custom-card">
        <div class="card-header">
        
        </div>
    
        <div class="card-body pb-2">
          {% if messages %}
          {% for message in messages %}
          <div {% if message.tags == "error" %} class="alert alert-danger" {% endif %} class="alert alert-success" role="alert">
            <span class="ml-3">{{ message }}</span>
          </div>
          {% endfor %}
          {% endif %}
        <form actiom="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'form-template.html' %}
        </div>
        <div class="card-footer text-right pb-0">
          <div class="form-group row">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-2">
              <a href="{% url 'itam:index' %}" type="button" class="form-control btn btn-danger">Cancel</a>
            </div>
            <div class="col-sm-2">
              <button type="submit" class="form-control btn btn-success">Submit</button>
            </div>
          </div>
        </form>
        </div>
      </div>
</main>
{% endblock %}