{% extends 'base.html' %}
{% block title %} Users {% endblock %}
{% block content %}
<!-- SIDE BAR SECTION -->
    <!-- MAIN SECTION -->
    <main class="main">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active">Users</span></li>
              <li class="breadcrumb-item"><a href="{% url 'itam:user-list' %}"><span>All Users</span></a></li>
            </ol>
          </nav>
        </div>
      </div>
      
     <div class="card mb-3">
        <div class="card-header d-flex">
          <span class="mt-1">
            <i class="fas fa-list mr-2"></i> 
            All Users
          </span>
          <div class="d-inline ml-auto"><a class="btn btn-sm btn-dark" href="{% url 'itam:add-user' %}"> Create New</a></div>
        </div>  

        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-5">
              <label>
                <select class="form-control form-control-sm" id="mySelector">
                  <option value="Admin">Admin</option>
                  <option value="Not Admin">Not Admin</option>
                </select>
              </label>
                
            </div>
            <div class="col-md-7">
              <div class="text-right">
                Search: 
                <label> 
                 <input id="searchInput" type="text" class="form-control form-control-sm">
                </label>
              </div>
            </div>
          </div>

          {% include 'pagination.html' %}
         
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
              <table class="table table-striped table-bordered tablesorter text-center" id="myTable" width="100%" cellspacing="0">
                <caption class='text-right'> 
                  <span class="mr-2 font-weight-bold">EDIT</span><button class="mr-4 btn btn-sm btn-warning" disabled>
                    <i class="fa fa-pencil-alt" style="color: white"></i>
                  </button>
                  <span class="mr-2 font-weight-bold">DELETE</span><button class="mr-4 btn btn-sm btn-danger" disabled>
                    <i class="fa fa-trash-alt"></i>
                  </button>
                </caption>
              <thead class="">
                <tr>
                  <th>Username</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Admin</th>
                  <th>Active</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody id="myTbody">
                {% for u in users %}
                <tr>
                  {% if request.user.username == u.username %}
                  <td><a href="{% url 'itam:user-details' u.id %}">{{ u.username }}</a><span class="ml-1 badge badge-dark">You</span></td>
                  {% else %}
                  <td><a href="{% url 'itam:user-details' u.id %}">{{ u.username }}</a></td>
                  {% endif %}
                  <td>{{ u.first_name }}</td>
                  <td>{{ u.last_name }}</td>
                  <td>{{ u.email }}</td>
                  {% if u.is_admin %}
                  <td><i class="fas fa-check-circle text-success"></i><span class="d-none">Admin</span></td>
                  {% else %}
                  <td><i class="fas fa-times-circle text-danger"></i><span class="d-none">Not Admin</span></td>
                  {% endif %}
                  {% if u.is_active %}
                  <td><i class="fas fa-check-circle text-success"></i><span class="d-none">Active</span></td>
                  {% else %}
                  <td><i class="fas fa-times-circle text-danger"></i><span class="d-none">Not Active</span></td>
                  {% endif %}
                  <td class="">
                    <a href="{% url 'itam:edit-user' u.id %}" class="btn btn-warning btn-sm" title="Edit">
                    	<i class="fa fa-pencil-alt" style="color: white"></i>
                    </a>
                    <form action="{% url 'itam:delete-user' u.id %}" method="POST" style="display: inline">
                      {% csrf_token %}
                      <input type="hidden" name="user.id" value="{{ u.id }}"> 
                      <button type="submit" class="btn btn-sm btn-danger" title="Delete"
                      onclick="return confirm('Are you sure you want to delete this User?\n(Tip: Edit the user and untick [Active] field to disable the account.)')">
                        <i class="fa fa-trash-alt"></i>
                      </button>
                    </form>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
              </div>
            </div>
          </div>

          {% include 'pagination.html' %}
        </div>
        
        <div class="card-footer">
        </div>
      </div>
    </main>
{% endblock %}
