{% extends 'base.html' %}
{% block title %} Edit an User {% endblock %}
{% block content %}
<main class="main">
  <div class="row">
    <div class="col-lg-11">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'itam:user-list' %}"><span>Users</span></a></li>
         <li class="breadcrumb-item active"><span>Edit</span></li>
        <li class="breadcrumb-item"><a href="{% url 'itam:user-details' object.id %}"><span>{{ object.username }}</span></a></li>
      </ol>
    </nav>
    </div>
    <div class="col-lg-1 text-center">
      <a href="{% url 'itam:user-list' %}"><button class="btn btn-info btn-md mt-2">Back</button></a>
    </div>
  </div>

    <div style="width:800px;" class="container">
      <div class="card mt-3 custom-card">
        <div class="card-header">
          <div class="container"><i class="far fa-edit"></i><span class="ml-2">Edit User ({{ object.username }})</span></div>
        </div>
    
        <div class="card-body pb-2">
          <div class="mb-4">
            {% if form.errors %}
            <div class="alert alert-danger mt-2">Please correct the error(s) below. </div>
            {% else %}
            <span class="ml-3">Fields in <b>bold</b> are required.</span>
            {% endif %}
          </div>
        <form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            {% include 'form-template.html' %}

        </div>
        <div class="card-footer text-right pb-0">
          <div class="form-group row">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-2">
              <a href="{% url 'itam:user-list' %}" type="button" class="form-control btn btn-danger">Cancel</a>
            </div>
            <div class="col-sm-2">
              <button type="submit" class="form-control btn btn-success">Submit</button>
            </div>
          </div>
        </form>
        </div>
      </div>
</main>
{% endblock %}