{% extends 'base.html' %}
{% block title %} Users {% endblock %}
{% block content %}
<!-- SIDE BAR SECTION -->
    <!-- MAIN SECTION -->
    <main class="main">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active">Users</span></li>
              <li class="breadcrumb-item active"><a href="{% url 'itam:user-list' %}">All Users</a></span></li>
              <li class="breadcrumb-item"><a href="{% url 'itam:user-details' object.id%}"><span>{{ object.username }}</span></a></li>
            </ol>
          </nav>
        </div>
      </div>

      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}

     <div class="card mb-3">
         <div class="card-header d-flex">
          <span class="">
            <i class="fas fa-info mr-2 mt-2"></i>
            {{ object }} Details
          </span>
          <div class="dropdown ml-auto">
            <button class="btn btn-sm btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Actions
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'itam:edit-user' object.id %}">
                Edit
              </a>
              {% if request.user.is_admin %}
              <a class="dropdown-item">           
                <form action="{% url 'itam:delete-user' object.id %}" method="POST" style="display: inline">
                  {% csrf_token %}
                  <input type="hidden" name="user.id" value="{{ object.id }}"> 
                  <button type="submit" class="pl-0 dropdown-item" title="Delete" style="cursor: pointer;"
                  onclick="return confirm('Are you sure you want to delete this User?\n(Tip: You can deactivate the account instead by editing and unchecking the [Active] field of this user.')">
                    Delete
                  </button>
                </form> 
              </a>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-hover" width="100%">
                  <tbody>
                    <tr>
                      <td>Username:</td>
                      <td>
                        {{ object.username }}
                      </td>
                    </tr>
                    <tr>
                      <td>First Name:</td>
                      <td>
                        {{ object.first_name }}
                      </td>
                    </tr>
                    <tr>
                      <td>Last Name:</td>
                      <td>
                        {{ object.last_name }}
                      </td>
                    </tr>
                    <tr>
                      <td>Email:</td>
                      <td>
                        {{ object.email }}
                      </td>
                    </tr>
                    <tr>
                      <td>Admin:</td>
                      <td>
                        {% if object.is_admin %}
                          <i class="fas fa-check-circle text-success">
                        {% else %}
                          <i class="fas fa-times-circle text-danger">
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td>Active</td>
                      <td>
                        {% if object.is_active %}
                          <i class="fas fa-check-circle text-success">
                        {% else %}
                          <i class="fas fa-times-circle text-danger">
                        {% endif %}
                      </td>
                    </tr>

                  </tbody>
                </table>  
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row mt-3">
           
          </div>
        </div>
      </div>
    </main>
{% endblock %}
