html {
  position: relative;
  min-height: 100%;	
}
   
body {
  /* Margin bottom by footer height */
  margin-bottom: 78px;
  background: #f9f9f9;
}
.footer {
  padding-left: 240px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #19334C;
  color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

textarea, 
input[type], select{
  border-radius: 0 !important;
}

body > .container {
  padding: 60px 15px 0;
}

.nav-item > .btn-outline-light:hover {
  background: rgba(255, 255, 255, 0.05) !important;
}
.nav-item > .btn-outline-light:focus {
  background: rgba(255, 255, 255, 0.05) !important
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.nav-link, .navbar-brand{
	padding: auto !important;
}

#search-box {
	border-top-right-radius: 0;
	border-bottom-right-radius:  0;
}

#search-btn{
	border-top-left-radius: 0;
	border-bottom-left-radius:  0;
}

.sidenav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #20252b;
    overflow-x: hidden;
    padding-top: 50px;
    margin-top: 3px;
    box-shadow: 3px 0 3px -2px #000;
}

.sidenav a {
    padding: 15px 18px;
    text-decoration: none;
    font-size: 1rem;
    color: #f5f5f5;
    display: block;
	
}

.sidenav > a:hover {
	background: rgba(16, 19, 22, 0.5);
}

.sidenav a.active:hover{
	background: rgba(16, 19, 22, 1);
}

.sidenav-collapse-bg{
  background: rgba(45, 48, 51, 1);
}

.main {
    margin-left: 260px; /* Same as the width of the sidenav */
    margin-top: 70px;
    font-size: 14px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    margin-right: 20px;
}


.breadcrumb-item{
	font-size: 18px;
}

.sidenav > .active{
  font-weight: bold;
	background: rgba(16, 19, 22, 1);
}

.navbar{
	box-shadow: 0 2px 3px -2px black;
}

.active i{
	color: #007bff;
}


.active-collapse i{
  color: #17a2b8;
}

.active-collapse span{
  font-weight: 600;
}

.sidenav > .collapse a:hover,
.sidenav > .collapse.show a:hover {
  color: rgba(255,255,255,0.7);
}

.active-asset, .active-asset i{
  font-weight: 600 !important;
  color: #17a2b8;
}

.active-asset:hover{
  color: rgba(255,255,255,0.7);
}

.text-orange{
  color: #c58000;
}

.custom-card{
  border-top: 4px solid rgba(0,0,0,0.1);
}

form > table{
 background: white !important;
}

.dropdown-menu{
	box-shadow: 2px 3px 5px -2px black;
}

button[aria-expanded=true] .fa-plus {
   display: none;
}
button[aria-expanded=false] .fa-minus {
   display: none;
}

@media screen and (max-height: 500px) {
    .sidenav {margin-top: 20px;}
    .sidenav a > i {font-size: 20px;}
    .sidenav a > span {display: none;}
    .sidenav {width: 60px;}
    .main{margin-left: 70px;}
    .footer{padding-left:70px;}
}

