{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Sfps {% endblock %}
{% block content %}
<!-- SIDE BAR SECTION -->
    <!-- MAIN SECTION -->
	  <main class="main">
		  <div class="row">
        <div class="col-md-10">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active">Network Assets</span></li>
              <li class="breadcrumb-item"><a href="{% url 'itam:sfp-list' %}"><span>Sfps</span></a></li>
              <li class="breadcrumb-item"><a href="{% url 'itam:sfp-archive' %}"><span>Archive</span></a></li>
            </ol>
          </nav>
        </div>

        <div class="col-md-2 mt-2 text-center">
          <div class="d-inline"><a class="btn btn-secondary" href="{% url 'itam:sfp-list' %}">Back</a></div>
        </div>
      </div>

      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}

		  <div class="card mb-3">
        <div class="card-header d-flex">
          <span class="mt-1">
            <i class="fas fa-list mr-2"></i> 
            All Archived Sfp Assets
          </span>
          <div class="d-inline ml-auto"><a class="btn btn-sm btn-dark" href="{% url 'itam:add-sfp' %}"> Create New</a></div>
        </div>  

        <div class="card-body">

          {% include 'software-filter.html' %}
          {% include 'pagination.html' %}
          
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-striped table-bordered w-100 tablesorter text-center" id="myTable" cellspacing="0">
                  <caption class='text-right'>
                    {% if request.user.is_admin %}
                    <span class="mr-2 font-weight-bold">UNARCHIVE</span><button class="mr-4 btn btn-sm btn-secondary" disabled>
                      <i class="fas fas fa-undo-alt"></i>
                    </button>
                    {% endif %}
                    <span class="mr-2 font-weight-bold">EDIT</span><button class="mr-4 btn btn-sm btn-warning" disabled>
                      <i class="fa fa-pencil-alt" style="color: white"></i>
                    </button>
                    {% if request.user.is_admin %}
                    <span class="mr-2 font-weight-bold">DELETE</span><button class="mr-4 btn btn-sm btn-danger" disabled>
                      <i class="fa fa-trash-alt"></i>
                    </button>
                    {% endif %}
                  </caption>
                 <thead>
                    <tr class="">
                      <th></i>Product Number</th>
                      <th></i>Manufacturer</th>
                      <th></i>Switch</th>
                      <th></i>Deployment Status</th>
                      <th></i>Termination Date</th>
                      <th class="text-center"></i>Termination Status</th>
                      <th class="text-center"></i>Actions</th>
                    </tr>
                  </thead>
                  <tbody id="myTbody">
                  {% for sfp in sfps %}
                    <tr>
                      <td><a href="{% url 'itam:sfp-details' sfp.id %}">{{ sfp.product_number }}</a>
                        {% if sfp.is_archived %}
                        <span class="badge badge-pill badge-dark">ARCHIVED <i class="fas fa-times text-danger"></i></span>
                        {% endif %}
                      </td>
                      <td>{{ sfp.manufacturer }}</td>
                      <td>
                        {% if sfp.network_device %}
                        <a href="{% url 'itam:network-device-details' sfp.network_device.id %}">{{ sfp.network_device }}</a>
                        {% endif %}
                      </td>
                      <td>
                        <i class="fas fa-circle {% if sfp.deployment_status == 'Not Installed' %} text-warning {% else %} text-primary {% endif %}"></i> {{ sfp.deployment_status }}
                      </td>
                      <td>{{ sfp.termination_date }}</td>
                      {% if sfp.termination_status %} 
                      <td><i class="fas fa-circle text-danger"></i></td> 
                      {% else %}
                      <td><i class="fas fa-circle text-success"></i></td> 
                      {% endif %}  
                      <td>
                        {% if request.user.is_admin %}
                        <form action="{% url 'itam:unarchive-sfp' sfp.id %}" method="POST" style="display: inline">
                          {% csrf_token %}
                          <input type="hidden" name="sfp.id" value="{{ sfp.id }}"> 
                          <button type="submit" class="btn btn-sm btn-secondary" title="Unarchive"
                          onclick="return confirm('Are you sure you want to unarchive this Sfp?')">
                            <i class="fas fa-undo-alt"></i>
                          </button>
                        </form>
                        {% endif %}

                        <a href="{% url 'itam:edit-sfp' sfp.id %}" class="btn btn-warning btn-sm" title="Edit">
                          <i class="fa fa-pencil-alt" style="color: white"></i></a>

                        {% if request.user.is_admin %}
                        <form action="{% url 'itam:delete-sfp' sfp.id %}" method="POST" style="display: inline">
                          {% csrf_token %}
                          <input type="hidden" name="computer.id" value="{{ c.id }}"> 
                          <button type="submit" class="btn btn-sm btn-danger" title="Delete"
                          onclick="return confirm('Are you sure you want to delete this Sfp?')">
                            <i class="fa fa-trash-alt"></i>
                          </button>
                        </form>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          {% include 'pagination.html' %}
        </div>
        
        <div class="card-footer">
        </div>

      </div>
		</main>
{% endblock %}
