{% extends 'base.html' %}
{% block title %} Tracking | Sfp {% endblock %}
{% block content %}
<!-- SIDE BAR SECTION -->
    <!-- MAIN SECTION -->
    <main class="main">
      <div class="row">
        <div class="col-md-8">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active">Tracking</span></li>
            </ol>
          </nav>
        </div>
        <div class="col-md-4 mb-3 d-flex justify-content-center align-items-center">
         <form class="form-inline" method="GET" action="{% url 'itam:generate-sfp-report' %}">
            <span class="mr-2">Generate Report:</span>
              <select class="custom-select" name="option">
                <option value="">Choose one...</option>
                {% for bldg in buildings %}
                <option value="{{ bldg }}">{{ bldg }}</option>
                {% endfor %}
                <option value="University">University (All)</option>
              </select>
            <button class="btn btn-sm btn-info ml-2" type="submit" {% if option == "None" %} disabled {% endif %}>
              <i class="far fa-file-pdf"></i>
            </button>     
          </form>
        </div>
      </div>
     <div class="card">
        <div class="card-header">
          {% include 'tracking-navbar.html' %} 
        </div>
        <div class="card-body"> 
          {% if deployed_assets %}        
          <div class="row mb-3">
            <div class="col-md-3">
              <form class="form-inline" method="GET" action="">
              <span class="mr-2">Filter:</span>
                <select class="custom-select" name="option" onchange="this.form.submit()">
                  <option selected="{{ option }}" disabled>{{ option }}</option>
                  {% for bldg in buildings %}
                  <option value="{{ bldg }}">{{ bldg }}</option>
                  {% endfor %}
                  <option value="University">University (All)</option>
                </select>
              </form>
            </div>
            <div class="col-md-6">
        
            </div>
            <div class="col-md-3">
              <div class="text-right">
                Search: 
                <label> 
                 <input id="searchInput" type="text" class="form-control form-control-sm">
                </label>
              </div>
            </div>
          </div>
          {% include 'pagination.html' %}
          <div class="row">
            <div class="col-md-12 mb-2">
              <h4 class="mt-3">Total Deployed Sfps in <b>{{ option|upper }}</b>: {{ sfp_objects.count }}</h4>
            </div>
          </div>
              {% if option == "University" %}
              <div class="table-responsive">
                <table class="table table-striped w-100 text-center table-bordered tablesorter" id="myTable" cellspacing="0" name="myTable">
                  <thead class="">
                    <tr>
                      <th>Building Name</th>
                      <th>Office/Department Name</th>
                      <th>Product Number</th>
                      <th>Count</th>
                    </tr>
                  </thead>
                  <tbody id="myTbody">
                  {% for c in sfp_objects %}
                  <tr>
                    <td>{{ c.network_device__location__building_name }}</td>
                    <td>{{ c.network_device__location__office_name }}</td>
                    <td>{{ c.product_number }}</td>
                    <td>{{ c.count }}</td>  
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              {% else %}
              <div class="table-responsive">
                <table class="table table-striped w-100 text-center table-bordered tablesorter" id="myTable" cellspacing="0" name="myTable">
                  <thead class="">
                    <tr>
                      <th>Office/Department Name</th>
                      <th>Product Number</th>
                      <th>Count</th>
                    </tr>
                  </thead>
                  <tbody id="myTbody">
                  {% for c in sfp_objects %}
                  <tr>
                    <td>{{ c.network_device__location__office_name }}</td>
                    <td>{{ c.product_number }}</td>
                    <td>{{ c.count }}</td>  
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              {% endif %}
          {% include 'pagination.html' %}
        </div>
        {% else %}
        <h1 class="m-5 text-center">No Deployed Sfps found.
          <br>(Tip: Edit a sfp and add a deployed Network Device)
        </h1>
        {% endif %}
      </div>
    </main>
{% endblock %}
