{% load staticfiles %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'web-fonts-with-css/css/fontawesome-all.min.css' %}" rel="stylesheet" type="text/css">

<div style="width:800px;" class="container">
  <div class="card mt-3 custom-card">
    <div class="card-header">
      <div class="container"><i class="mt-1 far fa-plus-square"></i><span class="ml-2">Add Location</span></div>
    </div>

    <div class="card-body pb-2">
      <div class="mb-4">
        {% if form.errors %}
        <div class="alert alert-danger mt-2">Please correct the error(s) below. </div>
        {% else %}
        <span class="ml-3">Fields in <b>bold</b> are required.</span>
        {% endif %}
      </div>
        <form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
          {% csrf_token %}
          {% include 'form-template.html' %}
    </div>
    <div class="card-footer text-right pb-0">
      <div class="container">
      <div class="form-group row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
         <button style="width:40%" type="submit" class="form-control btn btn-success">Submit</button>
        </div>
      </div>
    </div>
    </form>
  </div>
</div>