{% extends 'base.html' %}
{% block title %} Location {% endblock %}
{% block content %}
<!-- SIDE BAR SECTION -->
    <!-- MAIN SECTION -->
    <main class="main">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active">Locations</span></li>
              <li class="breadcrumb-item"><a href="{% url 'itam:location-list' %}"><span>All Locations</span></a></li>
            </ol>
          </nav>
        </div>
      </div>

      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}      
      
     <div class="card mb-3">
        <div class="card-header d-flex">
          <span class="mt-1">
            <i class="fas fa-list mr-2"></i> 
            All Locations
          </span>
          <div class="d-inline ml-auto"><a class="btn btn-sm btn-dark" href="{% url 'itam:add-location' %}"> Create New</a></div>
        </div>  

        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-5">
              <label>
                <select class="form-control form-control-sm" id="mySelector">
                  <option value="">All</option>
                  {% for location in building  %}
                  <option value="{{ location }}">{{ location }}</option>
                  {% endfor %}
                </select>
              </label>
                
            </div>
            <div class="col-md-7">
              <div class="text-right">
                Search: 
                <label> 
                 <input id="searchInput" type="text" class="form-control form-control-sm">
                </label>
              </div>
            </div>
          </div>

          {% include 'pagination.html' %}
        
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
              <table class="table table-striped table-bordered text-center tablesorter" id="myTable" width="100%" cellspacing="0">
                <caption class='text-right'> 
                  <span class="mr-2 font-weight-bold">EDIT</span><button class="mr-4 btn btn-sm btn-warning" disabled>
                    <i class="fa fa-pencil-alt" style="color: white"></i>
                  </button>
                  {% if request.user.is_admin %}
                  <span class="mr-2 font-weight-bold">DELETE</span><button class="mr-4 btn btn-sm btn-danger" disabled>
                    <i class="fa fa-trash-alt"></i>
                  </button>
                  {% endif %}
                </caption>
                <thead class="">
                <tr>
                  <th>Building</th>
                  <th>Office</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody id="myTbody">
                {% for location in location_objects %}
                <tr>
                  <td><a href="{% url 'itam:location-details' location.id %}">{{ location.building_name }}</a></td>
                  <td>{{ location.office_name }}</td>
                  <td>
                    <a href="{% url 'itam:edit-location' location.id %}" class="btn btn-warning btn-sm" title="Edit">
                      <i class="fa fa-pencil-alt" style="color: white"></i>
                    </a>
                    {% if request.user.is_admin %}
                    <form action="{% url 'itam:delete-location' location.id %}" method="POST" style="display: inline">
                      {% csrf_token %}
                      <input type="hidden" name="location.id" value="{{ location.id }}"> 
                      <button type="submit" class="btn btn-sm btn-danger" title="Delete"
                      onclick="return confirm('Deleting this location will set all its assets to undeployed. \nAre you sure you want to delete this Location?')">
                        <i class="fa fa-trash-alt"></i>
                      </button>
                    </form>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
              </div>
            </div>
          </div>
          {% include 'pagination.html' %}          
        </div>

        <div class="card-footer">
        </div>
      </div>
    </main>
{% endblock %}
