{% extends 'base.html' %}
{% block title %} Locations {% endblock %}
{% block content %}
<!-- SIDE BAR SECTION -->
    <!-- MAIN SECTION -->
    <main class="main">
      <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active">Locations</span></li> 
              <li class="breadcrumb-item"><a href="{% url 'itam:location-details' object.id %}"><span>{{ object }}</span></a></li>
            </ol>
          </nav>
        </div>
      </div>

      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}

     <div class="card mb-3">
         <div class="card-header d-flex">
          <span class="">
            <i class="fas fa-info mr-2 mt-2"></i>
            {{ object }} Details
          </span>
          <div class="dropdown ml-auto">
            <button class="btn btn-sm btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Actions
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'itam:edit-location' object.id %}">
                Edit
              </a>
              {% if request.user.is_admin %}
              <a class="dropdown-item">           
                <form action="{% url 'itam:delete-location' object.id %}" method="POST" style="display: inline">
                  {% csrf_token %}
                  <input type="hidden" name="location.id" value="{{ object.id }}"> 
                  <button type="submit" class="pl-0 dropdown-item" title="Delete" style="cursor: pointer;"
                  onclick="return confirm('Are you sure you want to delete this Location?')">
                    Delete
                  </button>
                </form> 
              </a>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-hover" width="100%">
                  <tbody>
                    <tr>
                      <td>Building Name</td>
                      <td>
                        {{ object.building_name }}
                      </td>
                    </tr>
                    <tr>
                      <td>Office Name</td>
                      <td>
                        {{ object.office_name }}
                      </td>
                    </tr>
                    <tr>
                      <td>Category</td>
                      <td>
                        {{ object.category }}
                      </td>
                    </tr>
                    <tr>
                      <td>Center</td>
                      <td>
                        {{ object.center }}
                      </td>
                    </tr>

                  </tbody>
                </table>  
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row mt-3">
           
          </div>
        </div>
      </div>
    </main>
{% endblock %}
