{% extends 'base.html' %}
{% block title %} Tracking To be Terminated Computers {% endblock %}
{% block content %}
<!-- SIDE BAR SECTION -->
    <!-- MAIN SECTION -->
    <main class="main">
      <div class="row">
        <div class="col-md-9">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">Tracking</span></li>
              <li class="breadcrumb-item active">Expiring Assets</li>
              <li class="breadcrumb-item"><a href="{% url 'itam:computer-track-e' %}">Computer</a></li>
            </ol>
          </nav>
        </div>

        {% if expiring_assets %}
        <div class="col-md-3 mb-3 d-flex justify-content-center align-items-center">
          <form class="form-inline" method="GET" action="{% url 'itam:generate-e-computer-report' %}">
            <input type="hidden">
            <button class="btn btn-lg btn-info ml-2" type="submit" {% if option == "None" %} disabled {% endif %}>
              Generate Report <i class="ml-2 far fa-file-pdf"></i>
            </button>  
          </form>
        </div>
        {% endif %}

      </div>
     <div class="card">
        <div class="card-header">
          {% include 'tracking-navbar-e.html' %} 
        </div>
        <div class="card-body">
          {% if expiring_assets %}
          <div class="row mb-3">

            <div class="col-md-6 d-inline">
              <form class="form-inline" method="GET" action="">
              <span class="mr-2">Filter:</span>
                <select class="custom-select" name="option" onchange="this.form.submit()">
                  <option selected="{{ option }}" disabled>{{ option }}</option>
                  <option value="Desktop">Desktop</option>
                  <option value="Laptop">Laptop</option>
                  <option value="All">All</option>
                </select>
              </form> 
            </div>

            <div class="col-md-6">
              <div class="text-right">
                Search: 
                <label> 
                 <input id="searchInput" type="text" class="form-control form-control-sm">
                </label>
              </div>
            </div>
          </div>
          {% include 'pagination.html' %}

               <div class="table-responsive">
                <table class="table table-striped w-100 text-center table-bordered tablesorter" id="myTable" cellspacing="0" name="myTable">
                  <thead class="">
                    <tr>
                      <th>Computer ID</th>
                      <th>Termination Date</th>
                      <th>Hardware Type</th>
                    </tr>
                  </thead>
                  <tbody id="myTbody">
                  {% for c in computer_objects %}
                  <tr>
                    <td><a href="{% url 'itam:computer-details' c.id %}">{{ c.computer_id }}</a></td>
                    <td>{{ c.termination_date }}</td>
                    <td>{{ c.hardware_type }}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>

          {% include 'pagination.html' %}
        </div>
        {% else %}
        <h2 class="text-center">No "to be terminated" Computers found.</h2>
        {% endif %}
      </div>
    </main>
{% endblock %}
