{% extends 'base.html' %}
{% block title %} Computers {% endblock %}
{% block content %}
<!-- SIDE BAR SECTION -->
    <!-- MAIN SECTION -->
	  <main class="main">
		  <div class="row">
        <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active">Hardware Assets</span></li>
              <li class="breadcrumb-item"><a href="{% url 'itam:computer-list' %}"><span>Computers</span></a></li>
              <li class="breadcrumb-item"><a href="{% url 'itam:computer-details' computer.id%}"><span>{{ object.computer_id }}</span></a></li>
            </ol>
          </nav>
        </div>
      </div>

      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}

		 <div class="card mb-3">
        <div class="card-header d-flex">
          <span class="">
            <i class="fas fa-info mr-2 mt-2"></i>
            {{ object.computer_id }} Details
          </span>
          <div class="dropdown ml-auto">
            <button class="btn btn-sm btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Actions
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'itam:edit-computer' object.id %}">
                Edit
              </a>
              {% if request.user.is_admin %}
              <a class="dropdown-item">
                <form action="{% url 'itam:delete-computer' object.id %}" method="POST" style="display: inline">
                  {% csrf_token %}
                  <input type="hidden" name="computer.id" value="{{ object.id }}"> 
                  <button type="submit" class="pl-0 dropdown-item" title="Delete" style="cursor: pointer;"
                  onclick="return confirm('Are you sure you want to delete this Computer?')">
                    Delete
                  </button>
                </form>
              </a>
              {% endif %}
              {% if request.user.is_admin and not object.is_archived %}
              <a class="dropdown-item">
                <form action="{% url 'itam:archive-computer' object.id %}" method="POST" style="display: inline">
                  {% csrf_token %}
                  <input type="hidden" name="computer.id" value="{{ object.id }}"> 
                  <button type="submit" class="pl-0 dropdown-item" title="Archive" style="cursor: pointer;"
                  onclick="return confirm('Are you sure you want to archive this Computer?')">
                    Archive
                  </button>
                </form>
              </a>
              {% elif request.user.is_admin and object.is_archived %}
              <a class="dropdown-item">
                <form action="{% url 'itam:unarchive-computer' object.id %}" method="POST" style="display: inline">
                  {% csrf_token %}
                  <input type="hidden" name="computer.id" value="{{ object.id }}"> 
                  <button type="submit" class="pl-0 dropdown-item" title="Unarchive" style="cursor: pointer;"
                  onclick="return confirm('Are you sure you want to unarchive this Computer?')">
                    Unarchive
                  </button>
                </form>
              </a>
              {% endif %}
              <a class="dropdown-item"">
                <form action="{% url 'itam:generate-computer-qr' object.id %}" method="POST" style="display: inline">
                  {% csrf_token %}
                  <input type="hidden" name="computer.id" value="{{ object.id }}"> 
                  <button type="submit" class="pl-0 dropdown-item" title="Generate QR Code" style="cursor: pointer;">
                    Generate QR Code
                  </button>
                </form>
              </a>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-hover" width="100%">
                  <tbody>
                    <tr>
                      <td>Computer ID</td>
                      <td>
                        {{ object.computer_id }}
                        {% if object.is_archived %}
                        <span class="badge badge-pill badge-dark">ARCHIVED <i class="fas fa-times text-danger"></i></span> 
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td>Location</td>
                      <td>
                        {{ object.location }}
                      </td>
                    </tr>
                    <tr>
                      <td>Deployment Status</td>
                      <td>
                        <i class="fas fa-circle {% if object.deployment_status == 'Undeployed' %} text-warning {% else %} text-primary {% endif %}"></i> {{ object.deployment_status }}
                      </td>
                    </tr>
                    <tr>
                      <td>Hardware Type</td>
                      <td>
                        {{ object.hardware_type }}
                      </td>
                    </tr>
                    <tr>
                      <td>System Specifications</td>
                      <td>
                        {{ object.system_specs }}
                      </td>
                    </tr>
                    <tr>
                      <td>Monitor</td>
                      <td>
                        {% if object.monitor %}
                        <a href="{% url 'itam:monitor-details' object.monitor.id %}">{{ object.monitor.model }}</a>
                          {% if object.monitor.is_archived %}
                          <span class="badge badge-pill badge-dark">ARCHIVED <i class="fas fa-times text-danger"></i></span> 
                          {% endif %}
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td>Printer</td>
                      <td>
                        {% if object.printer %}
                        <a href="{% url 'itam:printer-details' object.printer.id %}">{{ object.printer.model }}</a>
                          {% if object.printer.is_archived %}
                          <span class="badge badge-pill badge-dark">ARCHIVED <i class="fas fa-times text-danger"></i></span> 
                          {% endif %}
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td>Scanner</td>
                      <td>
                        {% if object.scanner %}
                        <a href="{% url 'itam:scanner-details' object.scanner.id %}">{{ object.scanner.model }}</a>
                          {% if object.scanner.is_archived %}
                          <span class="badge badge-pill badge-dark">ARCHIVED <i class="fas fa-times text-danger"></i></span> 
                          {% endif %}
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td>Base License OS</td>
                      <td>
                        {{ object.base_license_os }}
                      </td>
                    </tr>
                    <tr>
                      <td>Existing OS</td>
                      <td>
                        {% if object.operating_system %}
                        <a href="{% url 'itam:os-details' object.operating_system.id %}">{{ object.operating_system.os_name }}</a>
                          {% if object.operating_system.is_archived %}
                          <span class="badge badge-pill badge-dark">ARCHIVED <i class="fas fa-times text-danger"></i></span> 
                          {% endif %}
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td>Type of Existing OS</td>
                      <td>
                        {{ object.operating_system.os_type }}
                      </td>
                    </tr>
                    <tr>
                      <td>Operating System Product ID</td>
                      <td>
                        {{ object.operating_system.product_id }}
                      </td>
                    </tr>
                    <tr>
                      <td>Operating System Serial Key</td>
                      <td>
                        {{ object.operating_system.serial_key }}
                      </td>
                    </tr>
                    <tr>
                      <td>Microsoft Office</td>
                      <td>
                        {% if object.microsoft_office %}
                        <a href="{% url 'itam:mo-details' object.microsoft_office.id %}">{{ object.microsoft_office.mo_name }}</a>
                          {% if object.microsoft_office.is_archived %}
                          <span class="badge badge-pill badge-dark">ARCHIVED <i class="fas fa-times text-danger"></i></span> 
                          {% endif %}
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td>Type of Microsoft Office</td>
                      <td>
                        {{ object.microsoft_office.mo_type }}
                      </td>
                    </tr>
                    <tr>
                      <td>Microsoft Office Serial Key</td>
                      <td>
                        {{ object.microsoft_office.serial_key }}
                      </td>
                    </tr>
                    <tr>
                      <td>SPSS</td>
                      <td>
                        {{ object.spss }}
                      </td>
                    </tr>
                     <tr>
                      <td>Libre Office</td>
                      <td>
                        {{ object.libre_office }}
                      </td>
                    </tr>
                    <tr>
                      <td>Open Office</td>
                      <td>
                        {{ object.open_office }}
                      </td>
                    </tr>
                    <tr>
                      <td>Other License Software</td>
                      <td>
                        {% if object.other_software %}
                        <a href="{% url 'itam:other-details' object.other_software.id %}">{{ object.other_software.software_name }}</a>
                          {% if object.other_software.is_archived %}
                          <span class="badge badge-pill badge-dark">ARCHIVED <i class="fas fa-times text-danger"></i></span> 
                          {% endif %}
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td>Other License Software Serial Key</td>
                      <td>
                        {{ object.other_software.serial_key }}
                      </td>
                    </tr>
                    <tr>
                      <td>Termination Date</td>
                      <td>
                        {{ object.termination_date }}
                      </td>
                    </tr>
                    <tr>
                      <td>Termination Status</td>
                      {% if object.termination_status %}
                      <td>
                       <i class="fas fa-circle text-danger"></i>
                      </td>
                      {% else %}
                      <td>
                       <i class="fas fa-circle text-success"></i>
                      </td>
                      {% endif %}
                    </tr>
                  </tbody>
                </table>  
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row mt-3">
           
          </div>
        </div>
      </div>
		</main>
{% endblock %}
