{% load staticfiles %}
{% load notifications_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{% endblock %} -- NOCS ITAM</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="https://my.adnu.edu.ph/assets/images/adnu_logo_white.png">

		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<link href="{% static 'web-fonts-with-css/css/fontawesome-all.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'table-sort/themes/style.css' %}" rel="stylesheet" type="text/css">
	</head>

	<body>
				<!-- TOP NAVIGATION BAR -->
		<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background:#369;">
				<a class="navbar-brand" href="{% url 'itam:index' %}">
					<img class="mb-1 mr-2" src="{% static 'images/adnu_logo.png' %}" alt="" width="20" height="20"> NOCS IT Asset Management System
				</a>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown mr-3">
						<a class="nav-link text-light btn btn-sm btn-outline-light dropdown-toggle" href="#" role="button" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Create"><span class="">Create New</span></a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
							<h6 class="dropdown-header">Hardware</h6>
							<a class="dropdown-item" href="{% url 'itam:add-computer' %}">
								<i class="fas fa-laptop"></i><span class="ml-4">Computer</span>
							</a>
							<a class="dropdown-item" href="{% url 'itam:add-monitor' %}">
								<i class="fas fa-desktop"></i><span class="ml-4">Monitor</span>
							</a>
							<a class="dropdown-item" href="{% url 'itam:add-printer' %}">
								<i class="fas fa-print"></i><span class="ml-4">Printer</span>
							</a>
							<a class="dropdown-item" href="{% url 'itam:add-scanner' %}">
								<i class="fas fa-print"></i><span class="ml-4">Scanner</span>
							</a>
							<div class="dropdown-divider"></div>
							<h6 class="dropdown-header">Network</h6> 
							<a class="dropdown-item" href="{% url 'itam:add-network-device' %}">
								<i class="fas fa-server"></i><span class="ml-4">Network Device</span>
							</a>
							<a class="dropdown-item" href="{% url 'itam:add-sfp' %}">
								<i class="fas fa-server"></i><span class="ml-4">Sfp</span>
							</a>
							<h6 class="dropdown-divider"></h6> 
							<h6 class="dropdown-header">Software</h6>
							<a class="dropdown-item" href="{% url 'itam:add-os' %}">
								<i class="fab fa-linux"></i><span class="ml-4">Operating System</span></a>
							<a class="dropdown-item" href="{% url 'itam:add-mo' %}">
								<i class="fab fa-microsoft"></i><span class="ml-4">Microsoft Office</span>
							</a>
							<a class="dropdown-item" href="{% url 'itam:add-other' %}">
								<i class="far fa-dot-circle"></i><span class="ml-4">Others (Software)</span>
							</a>
							<div class="dropdown-divider"></div>
							<h6 class="dropdown-header">Miscellaneous</h6>
							{% if request.user.is_admin %}
							<a class="dropdown-item" href="{% url 'itam:add-user' %}"><i class="fa fa-user"></i><span class="ml-4">User</span></a>
							{% endif %}
							<a class="dropdown-item" href="{% url 'itam:add-location' %}"><i class="fas fa-location-arrow"></i><span class="ml-4">Location</span></a>
						</div>
					</li>

					<li class="nav-item dropdown mr-2">
						<a class="nav-link text-light" href="#" role="button" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Create Something :(">
							{% notifications_unread as unread_count %}
							{% if unread_count %}
							<span class="badge badge-danger float-right" style="font-size: 0.5em">{{ unread_count }}</span>
							{% endif %}
							<i class="fas fa-bell"></i></a>
						<div class="dropdown-menu custom-dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
							<h6 class="dropdown-header">Notifications</h6>
							{% if unread_notifications and unread_notifications|length < 6 %} 
								{% for notif in unread_notifications %}
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{{ notif.actor.get_absolute_url }}">{{ notif.actor }} {{ notif.verb }}
								<footer><i class="fas fa-comment-alt small text-muted mr-3"></i>{{ notif.timestamp }}</footer>
							</a>
								{% endfor %}
							{% elif unread_notifications|length >= 6 %}
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'itam:notification' %}">You have <b>{% notifications_unread %}</b> unread notifications!</a>
							{% else %}
							<div class="dropdown-divider"></div>
							<a class="dropdown-item">No unread notifications</a>
							{% endif %}
							<div class="dropdown-divider"></div>
							<a class="dropdown-item text-muted text-center" href="{% url 'itam:notification' %}">View all</a>
						</div>
					</li>

					<li class="nav-item">
						<div class="dropdown">
							<a class="nav-link text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="">
								<span>{{ request.user.username }}</span><i class="fas fa-caret-down ml-2" style="font-size: 0.9rem"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<!--<a class="dropdown-item" href=""><i class="fa fa-user-circle mr-4"></i>Edit Your Profile</a>-->
								 <a class="dropdown-item" href="{% url 'itam:change-password' %}"><i class="fa fa-asterisk mr-4"></i>Change Password</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="{% url 'itam:logout' %}">
									<span><i class="fa fa-sign-out-alt mr-4" style="font-size: 1rem"></i>Logout</span>
								</a>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</nav>
		<!-- SIDE BAR SECTION -->
	 <div class="sidenav mt-3">
			<a href="{% url 'itam:index' %}" {% if active_page == 'home' %} class="active" {% endif %} title="Dashboard">
				<i class="fa fa-tachometer-alt"></i><span class="ml-3">Dashboard</span>
			</a>
			<a {% if active_page == 'computer' or active_page == 'monitor' or active_page == 'printer' or active_page == 'scanner' %} class="active" {% endif %} data-toggle="collapse" href="#desktopCollapse" role="button" aria-expanded="false" aria-controls="desktopCollapse" title="hardware assets">
				<i class="fas fa-desktop"></i><span class="ml-3">Hardware Assets</span><i class="fa fa-caret-down float-right mt-1"></i>
			</a>
				<div {% if active_page == 'computer' or active_page == 'monitor' or active_page == 'scanner' or active_page == 'printer' %} class = "collapse show text-white sidenav-collapse-bg pl-4" {% endif %} class="collapse text-white sidenav-collapse-bg pl-4" id="desktopCollapse">
					<a href="{% url 'itam:computer-list' %}" {% if active_page == 'computer' %} class="active-asset" {% endif %}>
						<i class="fas fa-laptop mr-4 small"></i><span class="small">Computers</span>
					</a>
					<a href="{% url 'itam:monitor-list' %}" {% if active_page == 'monitor' %} class="active-asset" {% endif %}>
						<i class="fas fa-desktop mr-4 small"></i><span class="small">Monitors</span>
					</a>
					<a href="{% url 'itam:printer-list' %}" {% if active_page == 'printer' %} class="active-asset" {% endif %}>
						<i class="fas fa-print mr-4 small"></i><span class="small">Printers</span>
					</a>
					<a href="{% url 'itam:scanner-list' %}" {% if active_page == 'scanner' %} class="active-asset" {% endif %}>
						<i class="fas fa-print mr-4 small"></i><span class="small">Scanners</span>
					</a>
				</div>
			<a {% if active_page == 'sfp' or active_page == 'network_device' %} class="active" {% endif %} data-toggle="collapse" href="#networkCollapse" role="button" aria-expanded="false" aria-controls="networkCollapse" title="hardware assets">
				<i class="fas fa-server"></i><span class="ml-3">Network Assets</span><i class="fa fa-caret-down float-right mt-1"></i>
			</a>
				<div {% if active_page == 'sfp' or active_page == 'network_device' %} class = "collapse show pl-4 text-white sidenav-collapse-bg" {% endif %} class="collapse pl-4 text-white sidenav-collapse-bg" id="networkCollapse">
					<a href="{% url 'itam:network-device-list' %}" {% if active_page == 'network_device' %} class="active-asset" {% endif %}>
						<i class="fas fa-server mr-4 small"></i><span class="small">Network Devices</span>
					</a>
					<a href="{% url 'itam:sfp-list' %}" {% if active_page == 'sfp' %} class="active-asset" {% endif %}>
						<i class="fas fa-server mr-4 small"></i><span class="small">Sfps</span>
					</a>
				</div>
			<a {% if active_page == 'os' or active_page == 'mo' or active_page == 'others' %} class="active" {% endif %} data-toggle="collapse" href="#softwareCollapse" role="button" aria-expanded="false" aria-controls="softwareCollapse" title="software assets">
				<i class="fab fa-linux"></i><span class="ml-3">Software Assets</span><i class="fa fa-caret-down float-right mt-1"></i>
			</a>
				<div {% if active_page == 'os' or active_page == 'mo' or active_page == 'others' %} class="collapse show text-white pl-4 sidenav-collapse-bg" {% endif %} class="collapse pl-4 text-white sidenav-collapse-bg" id="softwareCollapse">
					<a href="{% url 'itam:os-list' %}" {% if active_page == 'os' %} class="active-asset" {% endif %}>
						<i class="fab fa-linux mr-3 small"></i><span class="small">Operating Systems</span>
					</a>
					<a href="{% url 'itam:mo-list' %}" {% if active_page == 'mo' %} class="active-asset" {% endif %}>
						<i class="fab fa-microsoft mr-3 small"></i><span class="small">Microsoft Offices</span>
					</a>
					<a href="{% url 'itam:other-list' %}" {% if active_page == 'others' %} class="active-asset" {% endif %}>
						<i class="far fa-dot-circle mr-3 small"></i><span class="small">Others</span>
					</a>
				</div>
			<a {% if active_page == 'computer_track_d' or active_page == 'network_device_track_d' or active_page == 'sfp_track_d' or active_page == 'os_track_d' or active_page == 'mo_track_d' or active_page == 'others_track_d' or active_page == 'monitor_track_d' or active_page == 'printer_track_d' or active_page == 'scanner_track_d' or active_page == 'computer_track_e' or active_page == 'network_device_track_e' or active_page == 'sfp_track_e' or active_page == 'others_track_e' or active_page == 'monitor_track_e' or active_page == 'printer_track_e' or active_page == 'scanner_track_e' %} class="active" {% endif %} title="Tracking" data-toggle="collapse" href=#trackingCollapse role="button" aria-expanded="false" aria-controls="trackingCollapse">
				<i class="fas fa-bullseye"></i><span class="ml-3">Tracking</span><i class="fa fa-caret-down float-right mt-1"></i>
			</a>
				<div {% if active_page == 'computer_track_d' or active_page == 'network_device_track_d' or active_page == 'sfp_track_d' or active_page == 'os_track_d' or active_page == 'mo_track_d' or active_page == 'others_track_d' or active_page == 'monitor_track_d' or active_page == 'printer_track_d' or active_page == 'scanner_track_d' or active_page == 'computer_track_e' or active_page == 'network_device_track_e' or active_page == 'sfp_track_e' or active_page == 'others_track_e' or active_page == 'monitor_track_e' or active_page == 'printer_track_e' or active_page == 'scanner_track_e'%} class = "collapse show pl-4 text-white sidenav-collapse-bg" {% endif %} class="collapse pl-4 text-white sidenav-collapse-bg" id="trackingCollapse">
					<a href="{% url 'itam:computer-track-d' %}" {% if active_page == 'computer_track_d' or active_page == 'network_device_track_d' or active_page == 'sfp_track_d' or active_page == 'os_track_d' or active_page == 'mo_track_d' or active_page == 'others_track_d' or active_page == 'monitor_track_d' or active_page == 'printer_track_d' or active_page == 'scanner_track_d'%} class="active-asset" {% endif %} title="Tracking">
						<i class="far fa-arrow-alt-circle-right mr-3 small"></i><span class="small">Deployed Assets</span>
					</a>
					<a href="{% url 'itam:computer-track-e' %}" {% if active_page == 'computer_track_e' or active_page == 'network_device_track_e' or active_page == 'sfp_track_e' or active_page == 'os_track_e' or active_page == 'mo_track_e' or active_page == 'others_track_e' or active_page == 'monitor_track_e' or active_page == 'printer_track_e' or active_page == 'scanner_track_e'%} class="active-asset" {% endif %} title="Tracking">
						<i class="fas fa-exclamation-triangle mr-3 small"></i><span class="small">Expiring Assets</span>
					</a>
				</div>
			<a href="{% url 'itam:location-list' %}" {% if active_page == 'location' %} class="active" {% endif %} title="Location List">
				<i class="fas fa-location-arrow"></i><span class="ml-3">Locations</span>
			</a>
			{% if request.user.is_admin %}
			<a href="{% url 'itam:user-list' %}" {% if active_page == 'user' %} class="active" {% endif %} title="User List">
				<i class="fas fa-users"></i><span class="ml-3">Users</span>
			</a>
			{% endif %}
			{% if request.user.is_admin %}
			<a href="{% url 'itam:backup-list' %}" {% if active_page == 'backup' %} class="active" {% endif %} title="Import">
				<i class="fas fa-download"></i><span class="ml-3">Backup</span>
			</a>
			{% endif %}
		</div>
	 {% block content %}
	 {% endblock %} 
		<footer class="footer">
			<div class="container">
				<span >&copy; 2018-2019</span>
			</div>
		</footer>
	</body>
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
		<script src="{% static 'table-sort/jquery.tablesorter.min.js' %}" type="text/javascript"></script>
		<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
		<script type="text/javascript">
			$(document).ready(function() 
			{ 
				$("#myTable").tablesorter();

				$("#searchInput").on("keyup", function(){
					var value = $(this).val().toLowerCase();
					$("#myTbody tr").filter(function() {
						$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
					});
				});

				$("#mySelector").change(function(){
					var value = $(this).val().toLowerCase();
					$("#myTbody tr").filter(function() {
						$(this).toggle($(this).text().toLowerCase().search(value) > -1)
					});
				});
			} 
			); 
		</script>
		
		{% block script %}
		<script type="text/javascript">
		function showAddPopup(triggeringLink) {
		    var name = triggeringLink.id.replace(/^add_/, '');
		    href = triggeringLink.href;
		    var win = window.open(href, name, 'height=600,width=800,resizable=yes,scrollbars=yes');
		    win.focus();
		    return false;
		}
		function closePopup(win, newID, newRepr, id) {
		    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
		    win.close();
		}
		</script>

{% endblock %}
</html>
