{% for field in form %}
	<div class="container">
		{% if field.errors %}
		<span class="text-danger small">*{{ field.errors | striptags }}</span>
		{% endif %}
		<div class="form-group row">
			<label {% if field.field.required %} class="font-weight-bold col-form-label col-md-4" {% endif %} class="col-form-label col-md-4">
				{{ field.label_tag }}
			</label>
			<div  class="col-md-8">
				{{ field }} <small class="form-text text-muted">{{ field.help_text | striptags }}</small>
			</div>
		</div>
	</div>
{% endfor %}
