          <div class="row mb-3">
            <div class="col-md-5 flex">
              <div class="mr-auto">
                <form class="form-inline" onchange="this.form.submit()" methods="GET" action="">
                  Filter: &nbsp;
                  <select class="custom-select custom-select-sm mr-1" name="filterInput">
                    <option selected="{{ filter_value }}" disabled>{{ filter_value }}</option>
                    <option value="All">All</option>
                    <option value="Deployed">Deployed</option>
                    <option value="Undeployed">Undeployed</option>
                  </select>
                  <button type="submit" class="btn btn-sm btn-info ">Go</button>
                </form>
              </div>
            </div>
            <div class="col-md-7 d-flex">
              <div class="ml-auto"> 
                <form class="form-inline" onchange="this.form.submit();" method="GET" action="" autocomplete="off">
                  Search: &nbsp;
                  <input name="searchInput" type="text" class="form-control form-control-sm mr-1">
                  <button type="submit" class="btn btn-sm btn-info ">Go</button>
                </form>
              </div>
            </div>
          </div>