{% load url_replace %}  
          <div class="row mt-3 mb-2">
            <div class="col-md-5">
              <form action="" method="GET" class="form-inline">
                Showing &nbsp; 
                <select class="custom-select" name="paginate_by" onchange="this.form.submit()">
                  <option selected="{{ paginate_value }}" disabled>{{ paginate_value }}</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                &nbsp;  rows per page
              </form>
            </div>
            {% if is_paginated %}
            <div class="col-md-7">
              <div class="float-right">
                  <nav aria-label="Page navigation example">
                    <ul class="pagination mb-0">
                      {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.previous_page_number %}">Previous</a></li>
                        </li>
                      {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                      {% endif %}

                      {% if page_obj.number|add:'-1' > 1 %}
                        {% if page_obj.number != 1 %}
                          <li class="page-item"><a class="page-link" href="?{% url_replace page=1 %}">1</a>
                        {% endif %}
                        <li class="page-item disabled"><a class="page-link">&hellip;</a></li>
                      {% endif %}

                      {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                          <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                        {% elif i > page_obj.number|add:'-2' and i < page_obj.number|add:'2' %}
                          <li class="page-item"><a class="page-link" href="?{% url_replace page=i %}">{{ i }}</a></li>
                        {% endif %}
                      {% endfor %}

                      {% if page_obj.paginator.num_pages > page_obj.number|add:'1' %}
                        <li class="page-item disabled"><a class="page-link">&hellip;</a></li>
                        {% if page_obj.number != page_obj.paginator.num_pages %}
                          <li class="page-item">
                            <a class="page-link" href="?{% url_replace page=page_obj.paginator.num_pages %}">
                              {{ page_obj.paginator.num_pages }}
                            </a>
                          </li>
                        {% endif %}
                      {% endif %}

                      {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?{% url_replace page=page_obj.next_page_number %}">Next</a></li>
                      {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                      {% endif %}
                    </ul>
                  </nav>
              </div>
            </div>
            {% endif %}
          </div>
