
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a {% if active_page == 'computer_track_e' %} class="nav-link active" {% endif %} 
        class="nav-link" href="{% url 'itam:computer-track-e' %}">Computer
        </a>
      </li>
      <li class="nav-item">
        <a {% if active_page == 'monitor_track_e' %} class="nav-link active" {% endif %} 
        class="nav-link" href="{% url 'itam:monitor-track-e' %}">Monitor
        </a>
      </li>
      <li class="nav-item">
        <a {% if active_page == 'printer_track_e' %} class="nav-link active" {% endif %} 
        class="nav-link" href="{% url 'itam:printer-track-e' %}">Printer
        </a>
      </li>
      <li class="nav-item">
        <a {% if active_page == 'scanner_track_e' %} class="nav-link active" {% endif %} 
        class="nav-link" href="{% url 'itam:scanner-track-e' %}">Scanner
        </a>
      </li>
      <li class="nav-item">
        <a {% if active_page == 'network_device_track_e' %} class="nav-link active" {% endif %} 
        class="nav-link" href="{% url 'itam:network-device-track-e' %}">Network Device</a>
      </li>
      <li class="nav-item">
        <a {% if active_page == 'sfp_track_e' %} class="nav-link active" {% endif %} 
        class="nav-link" href="{% url 'itam:sfp-track-e' %}">Sfp</a>
      </li>
      <li class="nav-item">
        <a {% if active_page == 'others_track_e' %} class="nav-link active" {% endif %} 
        class="nav-link" href="{% url 'itam:other-track-e' %}">Other Software</a>
      </li>
    </ul> 

