
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a {% if active_page == 'computer_track_d' %} class="nav-link active" {% endif %} 
        class="nav-link" href="{% url 'itam:computer-track-d' %}">Computer
        </a>
      </li>
      <li class="nav-item">
        <a {% if active_page == 'monitor_track_d' %} class="nav-link active" {% endif %} 
        class="nav-link" href="{% url 'itam:monitor-track-d' %}">Monitor
        </a>
      </li>
      <li class="nav-item">
        <a {% if active_page == 'printer_track_d' %} class="nav-link active" {% endif %} 
        class="nav-link" href="{% url 'itam:printer-track-d' %}">Printer
        </a>
      </li>
      <li class="nav-item">
        <a {% if active_page == 'scanner_track_d' %} class="nav-link active" {% endif %} 
        class="nav-link" href="{% url 'itam:scanner-track-d' %}">Scanner
        </a>
      </li>
      <li class="nav-item">
        <a {% if active_page == 'network_device_track_d' %} class="nav-link active" {% endif %} 
        class="nav-link" href="{% url 'itam:network-device-track-d' %}">Network Device</a>
      </li>
      <li class="nav-item">
        <a {% if active_page == 'sfp_track_d' %} class="nav-link active" {% endif %} 
        class="nav-link" href="{% url 'itam:sfp-track-d' %}">Sfp</a>
      </li>
      <li class="nav-item">
        <a {% if active_page == 'os_track_d' %} class="nav-link active" {% endif %} 
        class="nav-link" href="{% url 'itam:os-track-d' %}">Operating System</a>
      </li>
      <li class="nav-item">
        <a {% if active_page == 'mo_track_d' %} class="nav-link active" {% endif %} 
        class="nav-link" href="{% url 'itam:mo-track-d' %}">Microsoft Office</a>
      </li>
      <li class="nav-item">
        <a {% if active_page == 'others_track_d' %} class="nav-link active" {% endif %} 
        class="nav-link" href="{% url 'itam:other-track-d' %}">Other Software</a>
      </li>
    </ul> 

