{% extends 'base.html' %}
{% block title %} Microsoft Offices {% endblock %}
{% block content %}
<!-- SIDE BAR SECTION -->
    <!-- MAIN SECTION -->
    <main class="main">
      <div class="row">
        <div class="col-md-10">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active">Software Assets</span></li>
              <li class="breadcrumb-item"><a href="{% url 'itam:mo-list' %}"><span>Microsoft Offices</span></a></li>
            </ol>
          </nav>
        </div>
        <div class="col-md-2 mt-2 text-center">
          <div class="d-inline"><a class="btn btn-secondary" href="{% url 'itam:mo-archive' %}">See Archive</a></div>
        </div>
      </div>

      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      
     <div class="card mb-3">
        <div class="card-header d-flex">
          <span class="mt-1">
            <i class="fas fa-list mr-2"></i> 
            All Microsoft Office Assets
          </span>
          <div class="d-inline ml-auto"><a class="btn btn-sm btn-dark" href="{% url 'itam:add-mo' %}"> Create New</a></div>
        </div>  

        <div class="card-body">
          {% include 'software-filter.html' %}
          
          {% include 'pagination.html' %}

          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
              <table class="table table-striped table-bordered text-center tablesorter" id="myTable" width="100%" cellspacing="0">
                <caption class='text-right'> 
                  <span class="mr-2 font-weight-bold">EDIT</span><button class="mr-4 btn btn-sm btn-warning" disabled>
                    <i class="fa fa-pencil-alt" style="color: white"></i>
                  </button>
                  {% if request.user.is_admin %}
                  <span class="mr-2 font-weight-bold">ARCHIVE</span><button class="mr-4 btn btn-sm btn-secondary" disabled>
                    <i class="fas fas fa-archive"></i>
                  </button>
                  <span class="mr-2 font-weight-bold">DELETE</span><button class="mr-4 btn btn-sm btn-danger" disabled>
                    <i class="fa fa-trash-alt"></i>
                  </button>
                  {% endif %}
                </caption>
              <thead class="">
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Deployment Status</th>
                  <th>Computer</th>
                  <th>Installation Date</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody id="myTbody">
                {% for mo in mo_objects %}
                <tr>
                  <td><a href="{% url 'itam:mo-details' mo.id %}">{{ mo.mo_name }}</a></td>
                  <td>{{ mo.mo_type|upper }}</td>
                  <td><i class="fas fa-circle {% if mo.deployment_status == 'Not Installed' %} text-warning {% else %} text-primary {% endif %}"></i> {{ mo.deployment_status }}</td>
                  {% if mo.computer %}
                  <td>
                    <a href="{% url 'itam:computer-details' mo.computer.id %}">
                      {{ mo.computer.computer_id }} 
                        {% if mo.computer.is_archived %}
                        <span class="badge badge-pill badge-dark">ARCHIVED <i class="fas fa-times text-danger"></i></span>
                        {% endif %}
                    </a>
                  </td>
                  {% else %}
                  <td></td>
                  {% endif %}
                  <td>{{ mo.installation_date }}</td>
                  <td>
                    <a href="{% url 'itam:edit-mo' mo.id %}" class="btn btn-warning btn-sm" title="Edit">
                      <i class="fa fa-pencil-alt" style="color: white"></i></a>
                      
                      {% if request.user.is_admin %}
                      <form action="{% url 'itam:archive-mo' mo.id %}" method="POST" style="display: inline">
                        {% csrf_token %}
                        <input type="hidden" name="mo.id" value="{{ mo.id }}"> 
                        <button type="submit" class="btn btn-sm btn-secondary" title="Archive"
                        onclick="return confirm('Are you sure you want to archive this Microsoft Office?')">
                          <i class="fas fa-archive"></i>
                        </button>
                      </form>
                      {% endif %}
                      
                      {% if request.user.is_admin %}
                      <form action="{% url 'itam:delete-mo' mo.id %}" method="POST" style="display: inline">
                        {% csrf_token %}
                        <input type="hidden" name="mo.id" value="{{ mo.id }}"> 
                        <button type="submit" class="btn btn-sm btn-danger" title="Delete"
                        onclick="return confirm('Are you sure you want to delete this Microsoft Office?')">
                          <i class="fa fa-trash-alt"></i>
                        </button>
                      </form>
                      {% endif %}
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
              </div>
            </div>
          </div>
          {% include 'pagination.html' %}
        </div>

        <div class="card-footer">
        </div>

      </div>
    </main>
{% endblock %}
