{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Scanners {% endblock %}
{% block content %}
<!-- SIDE BAR SECTION -->
    <!-- MAIN SECTION -->
    <main class="main">
      <div class="row">
        <div class="col-md-10">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item active">Hardware Assets</span></li>
              <li class="breadcrumb-item"><a href="{% url 'itam:scanner-list' %}"><span>Scanners</span></a></li>
              <li class="breadcrumb-item"><a href="{% url 'itam:scanner-archive' %}"><span>Archive</span></a></li>
            </ol>
          </nav>
        </div>
        <div class="col-md-2 mt-2 text-center">
          <div class="d-inline"><a class="btn btn-secondary" href="{% url 'itam:scanner-list' %}">Back</a></div>
        </div>
      </div>

      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}

     <div class="card mb-3">
        <div class="card-header d-flex">
          <span class="mt-1">
            <i class="fas fa-list mr-2"></i> 
            All Archived Scanner Assets
          </span>
          <div class="d-inline ml-auto"><a class="btn btn-sm btn-dark" href="{% url 'itam:add-scanner' %}"> Create New</a></div>
        </div>  

        <div class="card-body">

          {% include 'hardware-filter.html' %}
          {% include 'pagination.html' %}
         
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive" style="overflow-x:auto;">
              <table class="table table-striped table-bordered tablesorter text-center" id="myTable" width="100%" cellspacing="0">
                <caption class='text-right'> 
                  <span class="mr-2 font-weight-bold">UNARCHIVE</span><button class="mr-4 btn btn-sm btn-secondary" disabled>
                    <i class="fas fas fa-undo-alt"></i>
                  </button>
                  <span class="mr-2 font-weight-bold">QR CODE</span><button class="mr-4 btn btn-sm btn-primary" disabled>
                    <i class="fas fa-qrcode"></i>
                  </button>
                  <span class="mr-2 font-weight-bold">EDIT</span><button class="mr-4 btn btn-sm btn-warning" disabled>
                    <i class="fa fa-pencil-alt" style="color: white"></i>
                  </button>
                  {% if request.user.is_admin %}
                  <span class="mr-2 font-weight-bold">DELETE</span><button class="mr-4 btn btn-sm btn-danger" disabled>
                    <i class="fa fa-trash-alt"></i>
                  </button>
                  {% endif %}
                </caption>
              <thead class="">
                <tr>
                  <th>Model</th>
                  <th>Brand</th>
                  <th>Deployment Status</th>
                  <th>Computer</th>
                  <th>Termination Date</th>
                  <th class="text-center">Termination Status</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody id="myTbody">
                {% for m in scanners %}
                <tr>
                  <td><a href="{% url 'itam:scanner-details' m.id %}">{{ m.model }}</a>
                    {% if m.is_archived %}
                    <span class="badge badge-pill badge-dark">ARCHIVED <i class="fas fa-times text-danger"></i></span>
                    {% endif %}
                  </td>
                  <td>{{ m.brand }}</td>
                  <td>
                    <i class="fas fa-circle {% if m.deployment_status == 'Undeployed' %} text-warning {% else %} text-primary {% endif %}"></i> {{ m.deployment_status }}
                  </td>
                  <td>
                    {% if m.computer %}
                    <a href="{% url 'itam:computer-details' m.computer.id %}">{{ m.computer.computer_id }}</a>
                    {% endif %}
                  </td>
                  <td>{{ m.termination_date }}</td>
                  {% if m.termination_status %} 
                  <td class="text-center"><i class="fas fa-circle text-danger"></i></td> 
                  {% else %}
                  <td class="text-center"><i class="fas fa-circle text-success"></i></td>  
                  {% endif %}
                  <td class="text-center">
                    {% if request.user.is_admin %}
                    <form action="{% url 'itam:unarchive-scanner' m.id %}" method="POST" style="display: inline">
                      {% csrf_token %}
                      <input type="hidden" name="scanner.id" value="{{ m.id }}"> 
                      <button type="submit" class="btn btn-sm btn-secondary" title="Unarchive"
                      onclick="return confirm('Are you sure you want to unarchive this Printer?')">
                        <i class="fas fa-undo-alt"></i>
                      </button>
                    </form>
                    {% endif %}

                    <form action="{% url 'itam:generate-scanner-qr' m.id %}" method="POST" style="display: inline">
                      {% csrf_token %}
                      <input type="hidden" name="m.id" value="{{ m.id }}"> 
                      <button type="submit" class="btn btn-sm btn-primary" title="Generate QR Code">
                        <i class="fas fa-qrcode"></i>
                      </button>
                    </form>

                    <a href="{% url 'itam:edit-scanner' m.id %}" class="btn btn-warning btn-sm" title="Edit">
                      <i class="fa fa-pencil-alt" style="color: white"></i>
                    </a>
                      
                    {% if request.user.is_admin %}
                    <form action="{% url 'itam:delete-scanner' m.id %}" method="POST" style="display: inline">
                      {% csrf_token %}
                      <input type="hidden" name="scanner.id" value="{{ m.id }}"> 
                      <button type="submit" class="btn btn-sm btn-danger" title="Delete"
                      onclick="return confirm('Are you sure you want to delete this Printer?')">
                        <i class="fa fa-trash-alt"></i>
                      </button>
                    </form>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
              </div>
            </div>
          </div>
          {% include 'pagination.html' %}
        </div>
        
        <div class="card-footer">
        </div>

      </div>
    </main>
{% endblock %}
