{% extends 'base.html' %}
{% load activity_tags %}
{% block title %} Activity Logs {% endblock %}
{% block content %}
  <!-- MAIN SECTION -->
	<main class="main">

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
        <li class="breadcrumb-item active"><span>Activity</span></li>
			</ol>
		</nav>

      <div class="card">
        <div class="card-header">
          <span class=""><i class="fas fa-clipboard-list mr-2"></i>Activity Log</span> 
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-5 flex">
              <div class="mr-auto">
                <form class="form-inline" onchange="this.form.submit()" methods="GET" action="">
                  Filter: &nbsp;
                  <select class="custom-select custom-select-sm mr-1" name="filterInput">
                    <option selected="{{ filter_value }}" disabled>{{ filter_value }}</option>
                    <option value="All">All</option>
                    <option value="created">Created</option>
                    <option value="updated">Updated</option>
                    <option value="archived">Archived</option>
                    <option value="unarchived">Unarchived</option>
                    <option value="deleted">Deleted</option>
                  </select>
                  <button type="submit" class="btn btn-sm btn-info ">Go</button>
                </form>
              </div>
            </div>
            <div class="col-md-7 d-flex">
 
            </div>
          </div>
          {% include 'pagination.html' %}

          <div class="table-responsive">
            <table class="table table-striped table-bordered tablesorter" id="myTable">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>User</th>
                  <th>Action</th>
                  <th>Asset</th>
                <tr>
              </thead>
              <tbody id="myTbody">
                {% for action in actions %}
                <tr>
                  <td>{{ action.timestamp }}</td>
                  <td><a href="{{ action.actor.get_absolute_url }}">{{ action.actor }}</a></td>
                  <td>{{ action.verb }}</td>
                  {% if action.action_object %}
                  <td><a href="{{ action.action_object.get_absolute_url }}">{{ action.action_object }}</a></td>
                  {% else %}
                  <td>deleted...</td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% include 'pagination.html' %}
        </div>
      </div>


	</main>
{% endblock %}
