{% extends 'base.html' %}
{% block title %} Users {% endblock %}
{% block content %}
<main class="main">
  <div class="row">
    <div class="col-md-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'itam:backup-list' %}"><span>Backup</span></a></li>
        <li class="breadcrumb-item active"><span>Import</span></li>
      </ol>
    </nav>
    </div>
  </div>

    <div style="width:800px;" class="container">
      <div class="card mt-3 custom-card">
        <div class="card-header">
          <div class="container"><i class="mt-1 far fa-plus-square"></i><span class="ml-2">Import</span></div>
        </div>
    
        <div class="card-body pb-2">
          <form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
            {% csrf_token %}
            {% include 'form-template.html' %}
        </div>
        <div class="card-footer text-right pb-0">
          <div class="form-group row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-3">
              <a href="{% url 'itam:backup-list' %}" type="button" class="form-control btn btn-danger">Cancel</a>
            </div>
            <div class="col-sm-3">
              <button type="submit" class="form-control btn btn-success">Submit</button>
            </div>
          </div>
        </form>
        </div>
      </div>
</main>
{% endblock %}