{% extends 'base.html' %}
{% block title %} Backup and Restore {% endblock %}
{% block content %}
  <!-- MAIN SECTION -->
	<main class="main">

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a"><span>Backup</span></a></li>
			</ol>
		</nav>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}

    <div class="card">

      <div class="card-body">
        <div class="row">
          <div class="col-md-8 col-lg-8">
            <div class="table-responsive">
              <table class="table table-bordered table-striped tablesorter" id=myTable>
                <caption class='text-right'>
                  <span class="mr-2 font-weight-bold">RESTORE</span><button class="mr-4 btn btn-sm btn-info" disabled>
                    <i class="fas fa-undo-alt"></i>
                  </button>
                  <span class="mr-2 font-weight-bold">DELETE</span><button class="mr-4 btn btn-sm btn-danger" disabled>
                    <i class="fa fa-trash-alt"></i>
                  </button>
                </caption>
                <thead>
                  <tr>
                    <th>File</th>
                    <th>Date</th>
                    <th>Size</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody id="myTbody">
                  {% for b in Backups %}
                  <tr>
                    <td><a href="{{ b.backup_file.url }}">{{ b.backup_file }}</a></td>
                    <td>{{ b.date_generated }}</td>
                    <td>{{ b.file_size }}B</td>
                    <td class="text-center">
                      {% if request.user.is_admin %}
                      <form action="{% url 'itam:restore-backup' b.id %}" method="POST" style="display: inline">
                        {% csrf_token %}
                        <input type="hidden" name="backup.id" value="{{ b.id }}"> 
                        <button type="submit" class="btn btn-sm btn-info" title="Restore"
                        onclick="return confirm('hmmmm')">
                          <i class="fas fa-undo-alt"></i>
                        </button>
                      </form>
                      <form action="{% url 'itam:backup-delete' b.id %}" method="POST" style="display: inline">
                        {% csrf_token %}
                        <input type="hidden" name="backup.id" value="{{ b.id }}"> 
                        <button type="submit" class="btn btn-sm btn-danger" title="Delete"
                        onclick="return confirm('Are you sure you want to delete this Backup File?')">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </form>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 mt-5 text-center">
            <div class="mb-4">
              <form action="{% url 'itam:generate-backup' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden">
                <button type="submit" class="btn btn-lg btn-success">Generate Backup</button>
              </form>
            </div>
            <div class="d-flex align-content-center justify-content-center">
              <a href="{% url 'itam:add-backup' %}" class="btn btn-lg btn-primary">Import <i class="ml-1 fa fa-download"></i></a>
            </div>
          </div>
        </div> 
      </div>

    </div>
	</main>
{% endblock %}
