{% extends 'base.html' %}
{% load activity_tags %}
{% block title %} Dashboard {% endblock %}
{% block content %}
  <!-- MAIN SECTION -->
	<main class="main">

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'itam:index' %}"><span>Dashboard</span></a></li>
        <li class="breadcrumb-item active"><span>My Dashboard</span></li>
			</ol>
		</nav>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% endif %}

	 {% if request.user.is_admin %}
		<div class="row mb-3 text-center">

			<div class="col-md-3">
        <div class="card bg-primary text-white" style="border-radius: 0;">
          <div class="card-body pb-4">
            <div class="float-left text-left">
              <span><h4 class="font-weight-bold">{{ desktop_count }}</h4>HARDWARE</span>
            </div>
            <div class="float-right">
              <span><i class="fas fa-desktop" style="font-size: 50px;"></i></span>
            </div>
          </div>
          <div class="card-footer small" href="#">
      
          </div>
				</div>

      </div>

      <div class="col-md-3">
        <div class="card bg-warning text-white" style="border-radius: 0;">
          <div class="card-body pb-4">
            <div class="float-left text-left">
              <span><h4 class="font-weight-bold">{{ network_count }}</h4>NETWORK</span>
            </div>
            <div class="float-right">
              <span><i class="fas fa-server" style="font-size: 50px;"></i></span>
            </div>
          </div>
          <div class="card-footer text-muted small" href="#">
              
          </div>
        </div>
      </div>

			<div class="col-md-3">
        <div class="card bg-dark text-white" style="border-radius: 0;">
          <div class="card-body pb-4">
            <div class="float-left text-left">
              <span><h4 class="font-weight-bold">{{ software_count }}</h4>SOFTWARE</span>
            </div>
            <div class="float-right">
              <span><i class="fab fa-linux" style="font-size: 50px;"></i></span>
            </div>
          </div>
          <div class="card-footer small" href="#">
              
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card bg-danger text-white" style="border-radius: 0;">
          <div class="card-body pb-4">
            <div class="float-left text-left">
              <span><h4 class="font-weight-bold">{{ user_count }}</h4>USERS</span>
            </div>
            <div class="float-right">
              <span><i class="fas fa-users" style="font-size: 50px;"></i></span>
            </div>
          </div>
          <div class="card-footer" href="{% url 'itam:user-list' %}">
          </div>
        </div>  
      </div>
		</div>
		<div class="card custom-card">
      <div class="card-header pr-4 pl-4">
		    <h5 class="float-left mt-1">Recent Activity</h5>
        <button class="btn btn-sm btn-outline-info float-right" data-target="#recentActivity" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="recentActivity">
          <i class="fa fa-minus"></i>
          <i class="fa fa-plus"></i>
        </button>
      </div>

      <div class="collapse show" id="recentActivity">
      <div class="card-body">
        <div class="table-responsive">
          <ul class="list-group">
            {% activity_stream 'model' user %}
            {% for action in stream|slice:":5" %}
              <li href=# class="list-group-item list-group-item-action">{% display_action action %}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="card-footer small text-muted">
        <a class="btn btn-info w-100 text-white" href="{% url 'itam:activity' %}">View All</a>
      </div>

      </div>
    </div>
    {% endif %}

    <div class="row mt-3">
      <div class="col-md-6">
        <div class="card custom-card">
          <div class="card-header pr-4 pl-4">
            <h5 class="float-left mt-1"></i>Hardware Assets by Status</h5>
            <button class="btn btn-sm btn-outline-info float-right p-1 pr-2 pl-2" data-target="#hardwareCategoryCollapse" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="hardwareCategoryCollapse">
              <i class="fa fa-minus small"></i>
              <i class="fa fa-plus small"></i>
            </button>
          </div>

        <div class="collapse" id="hardwareCategoryCollapse">
          <div class="card-body">
            <div class="table-responsive">
            <table class="table table-striped table-bordered text-center tablesorter" width="100%" cellspacing="0">
              <thead class="">
                <tr>
                  <th>Name</th>
                  <th>Quantity</th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
      </div>
      </div>
      <div class="col-md-6">
          <div class="card custom-card">
            <div class="card-header pr-4 pl-4">
              <h5 class="float-left mt-1"></i>Software Assets by Status</h5>
              <button class="btn btn-sm btn-outline-info float-right p-1 pr-2 pl-2" data-target="#softwareCategoryCollapse" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="softwareCategoryCollapse">
                <i class="fa fa-minus small"></i>
                <i class="fa fa-plus small"></i>
              </button>
            </div>

            <div class="collapse" id="softwareCategoryCollapse">
            <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-striped table-bordered text-center tablesorter" width="100%" cellspacing="0">
                     <thead class="">
                      <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                     
                    </tbody>
                  </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
        </div>
            </div>
    </div>

	</main>
{% endblock %}
