<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="https://my.adnu.edu.ph/assets/images/adnu_logo_white.png">

    <title>NOCS ITAM</title>
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    <link href="{% static 'css/sticky-footer-navbar.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background:#369; border-bottom: 2px solid rgb(255, 153, 51);">
        <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'itam:login' %}">
         <img class="mb-1 mr-2" src="{% static 'images/adnu_logo.png' %}" alt="" width="20" height="20"> NOCS ITAM
        </a>
      </div>
      </nav>
    </header>

   <main role="main" class="container">
    <form class="form-signin" method="POST">
      {% csrf_token %}
      <img class="mb-5 mt-0" src="{% static 'images/adnu_logo.png' %}" alt="" width="130" height="130">
      <h4 class="text-muted mt-0">Welcome to NOCS ITAM</h4>
      <hr class="mb-4">
      <div class="alert alert-warning text-center" role="alert"><span style="font-weight: 600;">Please Login</span></div>
      
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}

      {% if form.non_field_errors %}
      <div class="alert alert-danger alert-dismissible fade show">
        <b class="text-left">Error:</b> {{ form.non_field_errors | striptags }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      {% for field in form %}
      {{ field }}
      {% endfor %}
      <div class="custom-control custom-checkbox mb-3" style="text-align: left;">
        <input type="checkbox" class="custom-control-input" id="customcheck1" value="remember-me"> 
        <label for=customcheck1 class="custom-control-label">Remember me</label>
      </div>
      <button class="btn btn-lg btn-primary btn-block font-weight-bold" type="submit">Sign in</button>
      <hr class="mt-4 mb-2">
    </form>
    </main>
    <footer class="footer">
      <div class="container">
        <span >&copy; 2017-2018</span>
      </div>
    </footer>
  
  </body>
    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'table-sort/jquery.tablesorter.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</html>
