{% extends 'base.html' %}
{% block title %} Notifications {% endblock %}
{% block content %}
  <!-- MAIN SECTION -->
	<main class="main">

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
        <li class="breadcrumb-item active"><span>Notifications</span></li>
			</ol>
		</nav>

    <div class="card bg-danger mb-4">
      <div class="card-header text-white">
        <span class="font-weight-bold">Unread Notifications</span>
        {% if unread_notifs %} 
        <form action="{% url 'itam:mark-all-as-read' %}" method="POST" class="d-inline">
          {% csrf_token %}
          <input type="hidden"> 
          <button type="submit" class="btn btn-link btn-sm m-0 p-0 float-right text-white">Mark all as Read</button>
        </form>
        {% endif %}
      </div>
     
      <ul class="list-group list-group-flush">
        {% for a in unread_notifs %}
        <li href=# class="list-group-item list-group-item-action float-left">
          <a href="{{ a.actor.get_absolute_url }}">{{ a.actor }}</a>
          <form action="{% url 'itam:mark-as-read' a.id %}" method=POST class="d-inline">
            {% csrf_token %}
            <input type="hidden" name="a.id" value="{{ a.id }}">
            <button type="submit" class="btn btn-link btn-sm float-right">Mark as Read</button>
          </form>
          {{ a.verb }}
          <footer>{{ a.timestamp }}</footer>
        </li>
        {% endfor %}
      </ul>

    </div> 
    <div class="card bg-success">
      <div class="card-header text-white">
        <span class="font-weight-bold">Read Notifications</span>
        {% if read_notifs %}
        <form action="{% url 'itam:delete-all-notification' %}" method="POST" class="d-inline">
          {% csrf_token %}
          <input type="hidden"> 
          <button type="submit" class="btn btn-link btn-sm m-0 p-0 float-right text-white" 
          onclick="return confirm('Are you sure you want to delete all entries?')">Delete all
          </button>
        </form>
        {% endif %}
      </div>
     
      <ul class="list-group list-group-flush">
        {% for a in read_notifs %}
        <li href=# class="list-group-item list-group-item-action float-left">
          <a href="{{ a.actor.get_absolute_url }}">{{ a.actor }}</a>
          <form action="{% url 'itam:delete-notification' a.id %}" method=POST class="d-inline">
            {% csrf_token %}
            <input type="hidden" name="a.id" value="{{ a.id }}">
            <button type="submit" class="btn btn-link btn-sm float-right mt-1" 
            onclick="return confirm('Are you sure you want to delete this Notification?')">Delete</button>
          </form>
          {{ a.verb }}
          <footer>{{ a.timestamp }}</footer>
        </li>
        {% endfor %}
      </ul>

    </div>

	</main>
{% endblock %}
